<h1 style="font-size: 23px;font-weight:700;text-transform:uppercase;margin: 30px 6vw">Les demandes</h1>
<div class="container-fluid" style="width: 90%">
  <div class="row">
    {{#each res}}
    <div class="col-md-4 tab-article mb-3">
      <a data-toggle="modal" data-toggle="modal" data-target="#myModal{{res}}">
        <div class="card bg-light mb-3 ">
        <img
          src="{{photo}}"
          alt="Image de l'article" style="display: block;" class="image-fluid img-article"/>
        <div class="card-body text-white">
          <h4 class="card-title" >
            {{title}}
          </h4>
          <p class="card-text">
            {{description}}
          </p>
        </div>
      </div>
      </a>
    </div>
    {{/each}}
  </div>
</div>

 <!-- Modal -->
<div class="modal fade" id="myModal{{@res}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <img class="card-img-top" src="{{photo}}" alt="Card image cap">
            {{{description}}}
      </div>
      <div class="modal-footer bg-light">
        <button type="button" class="btn  btn-outline-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>