<h1 style="font-size: 23px;font-weight:700;text-transform:uppercase;margin: 30px 6vw">Les demandes</h1>
{{!-- <div class="container-fluid" style="width: 90%"> --}}
  <div class="row">
    {{#each res}}
    {{#if type}}
      <div class="col-md-4 tab-article mb-3">
        <div class="card bg-light mb-3 ">
          <img src="{{photo}}" alt="Image de l'article" style="display: block;" class="image-fluid img-article" />
          <div class="card-body text-white">
            <img src="{{logo}}" style="float: left" class="avatar mr-1" alt="logo">
            <h4 class="card-title">
              {{title}}
              
            </h4>
            <p class="card-text">
              {{description}}
              
            </p>
          </div>
        </div>
        </a>
      </div>
    {{/if}}
    {{/each}}
  </div>


<h1 style="font-size: 23px;font-weight:700;text-transform:uppercase;margin: 30px 6vw">Les Dons</h1>
{{!-- <div class="container-fluid" style="width: 90%"> --}}
  <div class="row">
    {{#each res}}
    {{#unless type}}
    {{#unless transaction}}
    <div class="col-md-4 tab-article mb-3">
      <a data-toggle="modal" data-toggle="modal" data-target="#myModal">
        <div class="card bg-light mb-3 ">
          <img src="{{photo}}" alt="Image de l'article" style="display: block;" class="image-fluid img-article" />
          <div class="card-body text-white">
            <h4 class="card-title">
              {{title}}
            </h4>
            <p style="">{{{ dateFormat date_time "dddd, MMMM Do YYYY"}}}</p>
            <p>{{first_name}} {{last_name}}</p>
            <p class="card-text" style="">
              {{description}}
            </p>
            <button id="{{id}}" style="float: left;color:black;background-color:white;" class="btn">Je reserve</button>
          </div>
        </div>
      </a>
    </div>
    {{/unless}}
    {{/unless}}
    {{/each}}
  </div>
{{!-- </div> --}}
</div>
<script>
  $(function () {
    var submityesClicked;
    //catch the click to buttons
    $(':button').click(function () {
      var id = $(this).attr('id')
      console.log(id)
      $.ajax({
        type: "PUT",
        url: `http://localhost:3000/article/update/${id}`,
        data: {
          transaction: true
        },
        success: function (res) {
          console.log(res)
          location.reload()
        },
        error: function () {
          alert("error");
        }
      });
    });
  });
</script>