<h1 style="font-size: 23px;font-weight:700;text-transform:uppercase;margin: 30px 6vw">Mes Reservations</h1>
<div class="container-fluid" style="width: 100%">
  <div class="row">
    {{#if res}}
    {{#each res}}
    {{#unless type}}
    {{#if transaction}}
    <div class="col-md-4 tab-article mb-3">
        <div class="card bg-light mb-3 ">
          <img src="{{photo}}" alt="Image de l'article" style="display: block;" class="image-fluid img-article" />
          <div class="card-body text-white">
            <h4 class="card-title">
              {{title}}
            </h4>
            <p>{{name}}</p>
            <p class="card-text">
              {{description}}
            </p>
            <button id="{{id}}" style="float: left;color:black;background-color:white;" class="btn">J'annule</button>
          </div>
        </div>
    </div>
    {{/if}}
    {{/unless}}
    {{/each}}
    {{/if}}
  </div>
</div>

<script>
  $(function () {
    var submityesClicked;
    //catch the click to buttons
    $(':button').click(function () {
      var id = $(this).attr('id')
      console.log(id)
      $.ajax({
        type: "PUT",
        url: `http://localhost:3000/article/update/${id}`,
        data: {
          transaction: false
        },
        success: function (res) {
          console.log(res)
          location.reload()
        },
        error: function () {
          alert("error");
        }
      });
    });
  });
</script>